<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
  	<div class="navbar-header">
      <a class="navbar-brand" href="/">Twitter Clone</a>
  	</div>
  </div>
</div>  
<% @users.each do |user| %>
	<p><%= "#{user.first_name} #{user.second_name}"%></p>
	<%= user.tweets.each do |tweet| %>
		<p><%= tweet.content %></p>
	<% end %>
<% end %>

