<a href="/"><i class="icon-bar"></i><span>Home</span></a>
<% @users.each do |user| %>
<p><%= "#{user.first_name} #{user.second_name}"%>
	<li>
		<a class="fa fa-user"></i> </a>
	</li>
	
</p>
<% end %>
